<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="mqttbroker" value="hw.hellolinux.cn" />
		<add key="mqttuser" value="homediskrelay" />
		<add key="mqttpwd" value="@Xiongsen1994!+" /> 
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>